#blog-list{
    list-style-type: none;
    color: blue;
}

.header{
    border-bottom: 1px solid rgb(220, 220, 220);
}

.post{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
}

.mid-margin{
    margin: 10px;
}
