<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>
<body>
    <div class="container header">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a action="/" method="GET" href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a action="/view" method="GET" href="/view" class="nav-link">Posts</a></li>
            <li class="nav-item"><a action="/create" method="POST" href="/create" class="nav-link">Create</a></li>
            <li class="nav-item"><a action="/about" method="GET" href="/about" class="nav-link">About</a></li>
          </ul>
        </header>
      </div>
</body>
</html>